PORT=5001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/library_management
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
FINE_PER_DAY=5
DEFAULT_LOAN_DAYS=14

# GMAIL SMTP OTP CONFIGURATION
EMAIL_SERVICE=gmail
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_16_digit_app_password
EMAIL_FROM_NAME="LibCentral Academic Library"

